fastapi
uvicorn
google-generativeai
faiss-cpu
numpy
PyMuPDF  # for standard PDF text extraction
pytesseract
Pillow
python-multipart
python-jose
passlib
pydantic
pydantic-settings
python-dotenv
gunicorn
dbutils

Flask
flask-mysqldb
flask-bcrypt
flask-cors
mysqlclient
python-dotenv
PyJWT
email-validator